<div class="row">
  <div class="span3 sidebar">
    <div class="splash">
      <img src="http://placehold.it/200x200" class="img-rounded">
    </div>
    <div class="twitter">
      <h3 class="twitter-header">Twitter Feeds</h3>
      <div class="controls">
        Band | <%= link_to("Fans", "#") %>
      </div>
      <div class="media">
        <%= link_to(image_tag("http://placehold.it/64x64", class: "media-object"), "#", class: "pull-left") %>
        <div class="media-body">
          <h4 class="media-heading">SlightlyLeft</h4>
          Come see us at our next show!
        </div>
      </div>
    </div>
  </div>
  <div class="span9">
    <h1>Welcome to SlightlyLeftBand.com!</h1>
    <p class="lead">The official website for the band Slightly Left.</p>    
  </div>
</div>